@font-face {
    font-family: 'Essonnes';
    src: local('Essonnes Display Bold'), local('Essonnes-Display-Bold'),
        url('EssonnesDisplay-Bold.woff2') format('woff2'),
        url('EssonnesDisplay-Bold.woff') format('woff'),
        url('EssonnesDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }